{% extends "base.html" %}
{% load static %}

{% block title %}D.U.K{% endblock %}
{% block content %}
    <div class="container flex-grow py-16 px-10 rounded-lg border-4 border-[#734F59] max-w-7xl">
        <h2 class="text-2xl font-bold mb-6">Dažniausiai Užduodami Klausimai (D.U.K)</h2>
        <h3 class="text-xl font-bold pb-5">1. Kokie yra pristatymo būdai ir terminai?</h3>
        <p class="">Pristatymo būdai:</p>
        <ul class="list-disc pt-2 list-inside mb-4">
            <li>• Lietuvos Paštas</li>
            <li>• Siuntos autobusais</li>
        </ul>
        <p class="">Pristatymo terminai:</p>
        <ul class="list-disc list-inside">
            <li>Paštu: 1-3 d.d</li>
            <li>Autobusu: 1 d.</li>
            <li class="mb-4">Kaune: tą pačią dieną.</li>
        </ul>
        <h3 class="text-xl mt-5 font-bold mb-2">2. Kiek laiko trunka rožių puokštės gamyba?</h3>
        <p class="mb-4">Rožių puokščių gamyba užtrunka nuo 1 iki 5 darbo dienų, priklausomai nuo užsakymų kiekio. Jei pateiksite labai didelį užsakymą gaminimo laikas gali užtrukti ilgiau. Puokštė išsiunčiama tą pačią dieną, kai ji yra
            pagaminama.</p>

        <h3 class="text-xl font-bold mb-2">3. Kaip galiu sekti savo užsakymą?</h3>
        <p class="mb-4">Jei pasirinkote pristatymą Lietuvos paštu, gausite patvirtinimo el. laišką su sekimo numeriu. Šiuo numeriu galėsite sekti savo užsakymą paspaude  <a href="https://www.post.lt/siuntu-sekimas" class="underline-link">Čia</a></p>
        <h3 class="text-xl font-bold mb-2">4. Kokios yra grąžinimo sąlygos?</h3>
        <p class="mb-4">Jei dėl kokios nors priežasties nesate patenkinti savo užsakymu, galite grąžinti nepanaudotą ir nesugadintą prekę per 14 dienų nuo pristatymo dienos. Prašome susisiekti su mumis, kad gautumėte daugiau informacijos apie
            grąžinimo
            procesą.</p>

        <h3 class="text-xl font-bold mb-2">5. Kokius mokėjimo būdus priimate?</h3>
        <ul class="list-disc list-inside mb-4">
            <li>Šiuo metu priimame tik bankinius pavedimus</li>
        </ul>

        <h3 class="text-xl font-bold mb-2">6. Ar galiu pakeisti arba atšaukti savo užsakymą?</h3>
        <p class="mb-4">Jei norite pakeisti arba atšaukti savo užsakymą, prašome kuo greičiau susisiekti su mumis. Jei jūsų užsakymas dar nėra išsiųstas, mes padarysime viską, kad patenkintume jūsų prašymą.</p>

        <h3 class="text-xl font-bold mb-2">7. Kaip galiu susisiekti su jumis?</h3>
        <p class="mb-4">Galite susisiekti šiais būdais:</p>
        <ul class="list-disc list-inside mb-4">
            <li>Telefonu: +37067707634</li>
            <li>El. paštu: info@bogor.lt</li>
        </ul>

        <h3 class="text-xl font-bold mb-2">8. Ką daryti, jei gavau sugadintą ar neteisingą prekę?</h3>
        <p class="mb-4">Jei gavote sugadintą arba neteisingą prekę, nedelsdami susisiekite su mūsų klientų aptarnavimo komanda. Mes pasirūpinsime, kad jūsų problema būtų išspręsta kuo greičiau ir jums būtų pateikta tinkama prekė arba grąžinti
            pinigai.</p>

        <h3 class="text-xl font-bold mb-2">9. Ar galiu pateikti specialų užsakymą ar personalizuotą puokštę?</h3>
        <p class="mb-4">Taip, mes siūlome galimybę užsisakyti specialias ir personalizuotas puokštes. Prašome susisiekti su mumis, kad aptartumėte savo pageidavimus ir gautumėte daugiau informacijos.</p>

        <h3 class="text-xl font-bold mb-2">10. Ar teikiate nuolaidas didesniems užsakymams?</h3>
        <p class="mb-4">Taip, mes siūlome nuolaidas didesniems užsakymams. Prašome susisiekti su mumis, kad aptartumėte jūsų užsakymo detales ir gautumėte specialų pasiūlymą.</p>
    </div>
{% endblock %}