{% load static %}

<link href="{% static 'css/output.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.9.1/font/bootstrap-icons.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}Bogor.lt{% endblock %}</title>
</head>

<body class="bg-gray-50 flex items-center justify-center h-screen">
<div class="max-w-md w-full bg-white rounded-lg shadow-md p-6">
    <h2 class="text-3xl font-bold text-center text-gray-800 mb-6">Admin Login</h2>
    <form method="post" novalidate>
        {% csrf_token %}
        <div class="mb-4">
            <label for="username" class="block text-gray-700 font-medium">Username</label>
            <input type="text" name="username" id="username" class="w-full mt-2 px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400" placeholder="Enter your username">
        </div>
        <div class="mb-4">
            <label for="password" class="block text-gray-700 font-medium">Password</label>
            <input type="password" name="password" id="password" class="w-full mt-2 px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400" placeholder="Enter your password">
        </div>
        <button type="submit" class="w-full bg-blue-500 text-white py-2 rounded-lg hover:bg-blue-600 transition duration-300">
            Login
        </button>
    </form>
    <p class="text-center text-gray-600 mt-4">
        &copy; {{ year }} Bogor.lt
    </p>
</div>
</body>
